// @import '~@angular/material/theming';

:host {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 56px;
  // background-color: mat-color($accent, 300);
}

h1 {
  // color: red;
}

.mat-menu1 {
  display: none;
}
