<button mat-icon-button (click)="toggleMenu($event)">
  <mat-icon>menu</mat-icon>
</button>
<h1 class="title">Test Name</h1>
<button mat-button [matMenuTriggerFor]="menu">
  <mat-icon>perm_identity</mat-icon> {{ 'Hernesto Fontanessi' }}
</button>
<mat-menu #menu="matMenu" [ngClass]="'mat-menu1'">
  <button mat-menu-item>Home</button>
  <button mat-menu-item>Settings</button>
  <button mat-menu-item>Logout</button>
</mat-menu>
