<mat-drawer-container class="example-container light-theme">
  <mat-drawer #drawer [mode]="'over'">
    <nav>
      <a routerLink="/view1">View 1</a>
      <a routerLink="/view2">View 2</a>
    </nav>
  </mat-drawer>
  <mat-drawer-content>

    <header [ngClass]="'header'" (doMenuToggle)="drawer.toggle()"></header>

    <main>
      <mat-card>
        Main Theme:
        <button mat-raised-button color="primary">
          Primary
        </button>
        <button mat-raised-button color="accent">
          Accent
        </button>
        <button mat-raised-button color="warn">
          Warning
        </button>
      </mat-card>

      <mat-card class="alternate-theme">
        Alternate Theme:
        <button mat-raised-button color="primary">
          Primary
        </button>
        <button mat-raised-button color="accent">
          Accent
        </button>
        <button mat-raised-button color="warn">
          Warning
        </button>
      </mat-card>

      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque et rhoncus libero. Vestibulum scelerisque sollicitudin aliquam. Suspendisse eleifend nibh vel mi mollis, rhoncus vulputate lorem commodo. Fusce sed condimentum augue, blandit lobortis diam. Nulla pretium orci non vulputate suscipit. Maecenas pulvinar quam nisi, nec suscipit lacus sollicitudin id. Aliquam erat volutpat. Cras vel venenatis dolor, sed ultricies tortor. Sed venenatis varius erat in ornare. Vivamus mattis nulla ut est placerat, viverra hendrerit urna congue. Vestibulum iaculis congue arcu, eu rhoncus leo cursus id. Maecenas ut ligula a elit semper interdum id eget mauris.

      Morbi aliquam erat eget dapibus elementum. Quisque tincidunt et ipsum in accumsan. Nullam vulputate ac ex sed congue. Suspendisse orci massa, venenatis quis libero nec, ornare porta lectus. Phasellus fringilla metus a ligula condimentum blandit. Duis dapibus nulla et quam efficitur vestibulum. In rhoncus purus ac eleifend scelerisque. Nam quis luctus tortor.

      Proin risus massa, vulputate eu magna quis, ullamcorper volutpat nisl. Vestibulum maximus augue eget est venenatis, sed congue felis cursus. Aliquam erat volutpat. In dignissim turpis at nunc pulvinar tempor. Etiam ultricies libero sed urna pharetra, a semper tellus placerat. Aliquam pharetra rhoncus eleifend. Cras sit amet porta diam, a interdum dui. Nam sed luctus arcu. Praesent volutpat purus sed est iaculis ultrices vitae eu tortor. Cras et lacus vel metus lobortis convallis. Quisque sollicitudin, orci nec posuere bibendum, purus neque maximus nisi, ac ultrices augue nisi eu felis.

      Etiam in enim egestas, sodales justo et, fringilla ipsum. Fusce porta accumsan sem sed mollis. In eu diam et ipsum mattis vehicula. Integer eu lobortis nunc. Cras luctus, nibh vel porta volutpat, sapien ipsum imperdiet libero, vitae egestas ligula velit sit amet dui. Sed pulvinar in libero sit amet imperdiet. Fusce lacinia sed felis quis tincidunt. Cras elementum tortor eu diam imperdiet pellentesque. Vestibulum a metus vitae sapien fringilla viverra.

      Donec pellentesque erat sapien, sit amet mattis dolor luctus id. Nullam congue enim ipsum, eget lobortis ante rutrum sollicitudin. Pellentesque tincidunt eu mauris sed eleifend. Nulla congue dignissim justo sagittis commodo. Quisque in nibh at velit tempus lobortis at in lorem. Integer sagittis eget leo ac faucibus. Vestibulum interdum pretium dapibus. Praesent vehicula magna ut neque congue, vitae fermentum dui ullamcorper. Quisque suscipit congue quam, non condimentum urna. Aenean varius tempor libero, sed rutrum neque ultricies vitae. Vestibulum leo enim, euismod in metus sed, hendrerit pellentesque elit. Proin ac ipsum in purus varius imperdiet. Maecenas et molestie dolor. Suspendisse vitae fermentum nibh. Proin non sagittis felis.
    </main>

  </mat-drawer-content>
</mat-drawer-container>
<router-outlet></router-outlet>
