@import '~@angular/material/theming';

@include mat-core();

$my-primary: (
    50 : #e6eefd,
    100 : #c6d6e7,
    200 : #a8b9cf,
    300 : #899db7,
    400 : #7188a4,
    500 : #5a7493,
    600 : #4c6682,
    700 : #3d536b,
    800 : #2e4055,
    900 : #1c2c3d,
    A100 : #8bff8b,
    A200 : #58ff58,
    A400 : #25ff25,
    A700 : #0cff0c,
    contrast: (
        50 : #ffffff,
        100 : #ffffff,
        200 : #ffffff,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #ffffff,
        A200 : #ffffff,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);

$my-accent: (
    50 : #dbeef0,
    100 : #a6d6d8,
    200 : #68bdbe,
    300 : #14a2a3,
    400 : #00908f,
    500 : #007d7b,
    600 : #00716e,
    700 : #00625e,
    800 : #00534f,
    900 : #003832,
    A100 : #8bff8b,
    A200 : #58ff58,
    A400 : #25ff25,
    A700 : #0cff0c,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

// $my-accent: (
//     50 : e0f1e0,
//     100 : b3dcb3,
//     200 : 80c580,
//     300 : 4dad4d,
//     400 : 269c26,
//     500 : 008a00,
//     600 : 008200,
//     700 : 007700,
//     800 : 006d00,
//     900 : 005a00,
//     A100 : 8bff8b,
//     A200 : 58ff58,
//     A400 : 25ff25,
//     A700 : 0cff0c,
//     contrast: (
//         50 : 000000,
//         100 : 000000,
//         200 : 000000,
//         300 : 000000,
//         400 : ffffff,
//         500 : ffffff,
//         600 : ffffff,
//         700 : ffffff,
//         800 : ffffff,
//         900 : ffffff,
//         A100 : 000000,
//         A200 : 000000,
//         A400 : 000000,
//         A700 : 000000,
//     )
// );

$my-app-primary: mat-palette($my-primary, 800, 400, 50);
$my-app-accent:  mat-palette($my-accent, 200, 200, 200);
$my-app-warn:    mat-palette($mat-pink);

$my-light-theme: mat-light-theme($my-app-primary, $my-app-accent, $my-app-warn);
$my-dark-theme: mat-dark-theme($my-app-primary, $my-app-accent, $my-app-warn);

// @include angular-material-theme($my-app-theme);
//
// .alternate-theme {
//   $alternate-primary: mat-palette($mat-light-blue);
//   $alternate-accent:  mat-palette($mat-yellow, 500);
//
//   $alternate-theme: mat-light-theme($alternate-primary, $alternate-accent);
//
//   @include angular-material-theme($alternate-theme);
// }
