@import '~@angular/material/theming';
@include mat-core();

@import 'app/appearance/themes/my-theme';

@import 'app/appearance/themes/header.component.theme';

@mixin custom-components-theme($theme) {
  @include header-component-theme($theme);
}

.light-theme {
  @include angular-material-theme($my-light-theme);

  // include custom components theme mixin once per theme class
  @include custom-components-theme($my-light-theme);
}

.dark-theme {
  @include angular-material-theme($my-dark-theme);

  // include custom components theme mixin once per theme class
  @include custom-components-theme($my-dark-theme);
}
